body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('zoo.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 90%;
  max-width: 300px;
  padding: 20px;
  background-color: rgba(69, 64, 64, 0.7);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  text-align: center;
  position: relative;
  margin-top: 10%;
}

img {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: auto;
}

h1 {
  margin-bottom: 20px;
  color: #4caf50;
}

h2 {
  margin-bottom: 20px;
  font-size: 150%;
  color: beige;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 14px;
  color: #fffbfb;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  width: 100%;
  background-color: #43e12b8e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5%;
  cursor: pointer;
}

.b1 {
  width: 100%;
  background-color: #0048ffc6;
  margin-top: 5%;
}

button:hover {
  background-color: #45a049;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .login-container {
    padding: 15px;
    margin-top: 5%;
  }

  h2 {
    font-size: 130%;
  }

  img {
    top: 5%; /* Adjust for smaller screens */
  }

  input {
    font-size: 12px;
  }

  button {
    font-size: 14px;
  }
}